html, body {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

body {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

html:fullscreen {
  background-color: white;
}

html:-webkit-full-screen-ancestor {
  background-color: white;
}
