* {
  box-sizing: border-box;
  font-size: 14px;
}

*:focus {
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: #2c3e50; /* Midnight Blue */
}

.control {
  height: 30px;
}

  .control div {
    border-right: 1px solid #bdc3c7; /* Silver */
    color: #16a085; /* Green Sea */
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    height: 32px;
    position: relative;
    width: 25%;
  }

    .control div:hover {
      color: #1abc9c; /* Turqoise */
    }

    .control div:last-of-type {
      border: none;
    }

    .control div .fa-chevron-left, .control div .fa-download, .control div .fa-plus, .control div .fa-refresh {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .control div .fa-chevron-left {
      margin-left: -1px;
    }

    .control div .fa-refresh {
      margin-top: -1px;
    }

.menu {
  background-color: #ecf0f1; /* Clouds */
  border-right: 1px solid #bdc3c7; /* Silver */
  bottom: 0;
  display: none;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 0;
}

.menu-controller-series {
  display: unset;
}

  @media (min-width: 600px) { /* Tablet */
    .menu {
      display: unset;
      right: calc(100% - 192px);
    }
  }

  .menu::-webkit-scrollbar {
    display: none;
  }

  .menu .control {
    border-bottom: 1px solid #bdc3c7; /* Silver */
  }

  .menuSelect {
  }

    .menuSelectLink {
    }

      .menuSelectLinkGenre {
        border-bottom: 1px solid #bdc3c7; /* Silver */
        cursor: pointer;
        padding: 4px 8px;
        position: relative;
      }

        .menuSelectLinkGenre:hover {
          background-color: #bdc3c7; /* Silver */
        }

        .menuSelectLinkGenre .minorText {
          font-size: 10px;
          overflow: hidden;
          padding-right: 40px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .menuSelectLinkGenre .numberOfGenreFilters {
          background-color: #8e44ad; /* Wisteria */
          border-radius: 16px;
          color: #ecf0f1; /* Clouds */
          font-family: monospace;
          font-size: 10px;
          height: 20px;
          line-height: 20px;
          position: absolute;
          right: 20px;
          text-align: center;
          top: 50%;
          transform: translate(0, -50%);
          width: 24px;
        }

        .menuSelectLinkGenre .fa-angle-right {
          font-size: 20px;
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translate(0, -50%);
        }

      .menuSelectLinkOrder {
        border-bottom: 1px solid #bdc3c7; /* Silver */
        cursor: pointer;
        padding: 4px 8px;
        position: relative;
      }

        .menuSelectLinkOrder:hover {
          background-color: #bdc3c7; /* Silver */
        }

        .menuSelectLinkOrder .minorText {
          font-size: 10px;
        }

        .menuSelectLinkOrder .direction {
          background-color: #8e44ad; /* Wisteria */
          border-radius: 16px;
          color: #ecf0f1; /* Clouds */
          font-family: monospace;
          font-size: 10px;
          height: 20px;
          line-height: 20px;
          position: absolute;
          right: 20px;
          text-align: center;
          top: 50%;
          transform: translate(0, -50%);
          width: 24px;
        }

        .menuSelectLinkOrder .fa-angle-right {
          font-size: 20px;
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translate(0, -50%);
        }

    .menuSelectSearch {
      position: relative;
    }

      .menuSelectSearch input {
        border: none;
        border-bottom: 1px solid #bdc3c7; /* Silver */
        padding: 8px 28px 8px 8px;
        width: 100%;
      }

      .menuSelectSearch .fa-search {
        margin-top: -1px;
        right: 6px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
      }

  .menuSeries {
  }

    .menuSeries .header {
      border-bottom: 1px solid #bdc3c7; /* Silver */
      padding: 4px 8px;
      position: relative;
      text-align: center;
    }

      .menuSeries .header .text {
        font-weight: bold;
      }

      .menuSeries .header .minorText {
        font-size: 10px;
        font-style: italic;
      }

      .menuSeries .numberOfSeries {
        background-color: #2980b9; /* Belize Hole */
        border-radius: 16px;
        color: #ecf0f1; /* Clouds */
        font-family: monospace;
        font-size: 10px;
        height: 20px;
        line-height: 20px;
        position: absolute;
        right: 20px;
        text-align: center;
        top: 50%;
        transform: translate(0, -50%);
        width: 24px;
      }

    .menuSeries .fa-circle-o-notch {
      font-size: 20px;
      left: calc(50% - 18px);
      padding: 8px;
      position: absolute;
    }

    .menuSeriesList {
    }

      .menuSeriesList .none {
        font-style: italic;
        padding: 8px;
        text-align: center;
      }

      .menuSeriesListItem {
        border-bottom: 1px solid #bdc3c7; /* Silver */
        color: #2c3e50; /* Midnight Blue */
        cursor: pointer;
        padding: 4px 8px;
        position: relative;
      }

        .menuSeriesListItem:hover {
          background-color: #bdc3c7; /* Silver */
        }

        .menuSeriesListItem .title {
          overflow: hidden;
          padding-right: 8px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

          .menuSeriesListItem .numberOfUnreadChapters + .title {
            padding-right: 40px;
          }

        .menuSeriesListItem .numberOfUnreadChapters {
          background-color: #d35400; /* Pumpkin */
          border-radius: 16px;
          color: #ecf0f1; /* Clouds */
          font-family: monospace;
          font-size: 10px;
          height: 20px;
          line-height: 20px;
          position: absolute;
          right: 20px;
          text-align: center;
          top: 50%;
          transform: translate(0, -50%);
          width: 24px;
        }

        .menuSeriesListItem .provider {
          font-style: italic;
          font-size: 10px;
        }

        .menuSeriesListItem .fa-angle-right {
          font-size: 20px;
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translate(0, -50%);
        }

  .menuView {
  }

    .menuViewGenre {
    }

      .menuViewGenreItem {
        border-bottom: 1px solid #bdc3c7; /* Silver */
        cursor: pointer;
        padding: 8px;
        position: relative;
      }

        .menuViewGenreItem:hover {
          background-color: #bdc3c7; /* Silver */
        }

        .menuViewGenreItem .fa-circle, .menuViewGenreItem .fa-check-circle, .menuViewGenreItem .fa-times-circle {
          font-size: 20px;
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translate(0, -50%);
        }

        .menuViewGenreItem .fa-check-circle {
          color: #27ae60; /* Nephritis */
        }

        .menuViewGenreItem .fa-times-circle {
          color: #c0392b; /* Pomegranate */
        }

      .menuViewOrder {
      }

        .menuViewOrderItem {
          border-bottom: 1px solid #bdc3c7; /* Silver */
          cursor: pointer;
          padding: 8px;
          position: relative;
        }

          .menuViewOrderItem:hover {
            background-color: #bdc3c7; /* Silver */
          }

          .menuViewOrderItem .fa-circle, .menuViewOrderItem .fa-arrow-circle-up, .menuViewOrderItem .fa-arrow-circle-down {
            font-size: 20px;
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translate(0, -50%);
          }

.modal {
  bottom: 0;
  background-color: rgba(44, 62, 80, 0.75); /* Midnight Blue */
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

  .modalContainer {
    background-color: #ecf0f1; /* Clouds */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }

    .modalContainerTitle {
      background-color: #bdc3c7; /* Silver */
      padding: 8px;
      position: relative;
    }

      .modalContainerTitle .fa-times-circle {
        cursor: pointer;
        font-size: 20px;
        padding: 6px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
      }

        .modalContainerTitle .fa-times-circle:hover {
          color: #34495e; /* Wet Asphalt */
        }

    .modalContainerBody {
      color: #2c3e50; /* Midnight Blue */
      padding: 8px;
      min-height: 36px;
      width: 300px;
    }

      .modalContainerBody *:not(label) + * {
        margin-top: 8px;
      }

      .modalContainerBody label {
        font-size: 12px;
        font-style: italic;
      }

      .modalContainerBody input {
        border: 1px solid #bdc3c7; /* Silver */
        padding: 8px;
        width: 100%;
      }

      .modalContainerBody button {
        border: none;
        padding: 4px;
        width: 100%;
      }

        .modalContainerBody button[disabled] {
          color: #bdc3c7; /* Silver */
        }

        .modalContainerBody button:not([disabled]) {
          background-color: #16a085; /* Green Sea */
          color: #ecf0f1; /* Clouds */
        }

          .modalContainerBody button:not([disabled]):hover {
            background-color: #1abc9c; /* Turqoise */
          }

      .modalContainerBody .fa-circle-o-notch {
        font-size: 20px;
        left: calc(50% - 18px);
        position: absolute;
      }

    .modalContainerDownload {
    }

      .modalContainerDownload .fa-times-circle, .modalContainerDownload .fa-check-circle {
        font-size: 20px;
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translate(0, -50%);
      }

      .modalContainerDownload p {
        border: 1px solid #bdc3c7; /* Silver */
        cursor: pointer;
        margin: 0;
        padding: 8px;
        position: relative;
      }

        .modalContainerDownload p + p {
          border-top: none;
        }

        .modalContainerDownload p:hover {
          background-color: #bdc3c7; /* Silver */
        }

      .modalContainerDownload .fa-check-circle {
        color: #27ae60; /* Nephritis */
      }

      .modalContainerDownload .fa-times-circle {
        color: #c0392b; /* Pomegranate */
      }

.series {
  bottom: 0;
  display: none;
  left: 192px;
  position: absolute;
  right: 0;
  top: 0;
}

@media (min-width: 600px) { /* Tablet */
  .series {
    display: unset;
  }
}

  .series .fa-circle-o-notch {
    font-size: 32px;
    left: calc(50% - 16px);
    position: absolute;
    top: calc(50% - 16px);
  }

  .seriesList {
    bottom: 0;
    left: 0;
    padding: 4px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    right: 0;
    top: 0;
  }

    .seriesList .none {
      font-size: 20px;
      font-style: italic;
      left: 50%;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .seriesListItem {
      color: #ecf0f1; /* Clouds */
      cursor: pointer;
      display: inline-block;
      position: relative;
      width: 33.33%;
    }

    @media (min-width: 768px) { /* Large Tablet */
      .seriesListItem {
        width: 25%;
      }
    }

    @media (min-width: 992px) { /* Desktop */
      .seriesListItem {
        width: 20%;
      }
    }

    @media (min-width: 1200px) { /* Large Desktop */
      .seriesListItem {
        width: 16.66%;
      }
    }

    @media (min-width: 1600px) { /* Very Large Desktop */
      .seriesListItem {
        width: 12.5%;
      }
    }

      .seriesListItem .push {
        margin-top: calc(141% + 32px);
      }

      .seriesListItemBody {
        padding: 4px 4px 0 4px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

        .seriesListItemBody:hover .title {
          background-color: #1abc9c; /* Turqoise */
        }

        .seriesListItemBody:hover .provider {
          background-color: #1abc9c; /* Turqoise */
        }

        .seriesListItemBody .title {
          background-color: #16a085; /* Green Sea */
          overflow: hidden;
          padding: 8px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .seriesListItemBody .numberOfUnreadChapters {
          background-color: #d35400; /* Pumpkin */
          font-family: monospace;
          height: 32px;
          line-height: 32px;
          position: absolute;
          right: 4px;
          text-align: center;
          top: 4px;
          width: 32px;
        }

          .seriesListItemBody .numberOfUnreadChapters + .title {
            padding: 8px 40px 8px 8px;
          }

        .seriesListItemBody .preview {
          height: calc(100% - 32px);
          width: 100%;
        }

          .seriesListItemBody .preview .fa-circle-o-notch {
            color: #2c3e50; /* Midnight Blue */
            left: calc(50% - 10px);
            font-size: 20px;
            position: absolute;
            top: calc(50% - 10px);
          }

          .seriesListItemBody .preview img {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }

        .seriesListItemBody .provider {
          background-color: #16a085; /* Green Sea */
          bottom: 0;
          font-style: italic;
          font-size: 10px;
          padding: 4px;
          position: absolute;
          right: 4px;
        }

.chapter {
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 0;
}

  @media (min-width: 600px) { /* Tablet */
    .chapter {
      left: 192px;
    }
  }

  .chapter .fa-circle-o-notch {
    font-size: 32px;
    left: calc(50% - 16px);
    position: absolute;
    top: calc(50% - 16px);
  }

  .chapter .unknown {
    font-size: 20px;
    font-style: italic;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .chapter .control {
    background-color: #ecf0f1; /* Clouds */
    border-bottom: 1px solid #bdc3c7; /* Silver */
  }

    @media (min-width: 600px) { /* Tablet */
      .chapter .control {
        display: none;
      }
    }

    .chapter .control div {
      width: 33.33%;
    }

    .chapter .control .plus {
      display: none;
    }

    .chapterList {
      padding: 8px;
    }

      .chapterListHeader {
        background-color: #ecf0f1; /* Silver */
        font-style: italic;
      }

        .chapterListHeader .volume, .chapterListItem .volume {
          border-right: 1px solid #bdc3c7; /* Silver */
          float: left;
          height: 32px;
          padding: 8px;
          width: 72px;
        }

        .chapterListHeader .number, .chapterListItem .number {
          border-right: 1px solid #bdc3c7; /* Silver */
          float: left;
          height: 32px;
          padding: 8px;
          width: 72px;
        }

        .chapterListHeader .title, .chapterListItem .title {
          float: left;
          height: 32px;
          padding: 8px;
          width: calc(100% - 144px);
        }

      .chapterListHeader, .chapterListItem {
        border: 1px solid #bdc3c7; /* Silver */
        border-bottom: 0;
      }

        .chapterListHeader:after, .chapterListItem:after {
          content: '';
          clear: both;
          display: block;
        }

      .chapterListItem {
        cursor: pointer;
        position: relative;
      }

        .chapterListItem:nth-of-type(2n+1) {
          background-color: #ecf0f1; /* Clouds */
        }

        .chapterListItem:hover {
          background-color: #bdc3c7; /* Silver */
        }

      .chapterListItem .title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .chapterListItem .available, .chapterListItem .unavailable {
        bottom: 0;
        left: 0;
        height: 2px;
        position: absolute;
        right: 0;
      }

      .chapterListItem .available {
        background-color: #d35400; /* Pumpkin */
      }

        .chapterListItem .available div {
          background-color: #16a085; /* Green Sea */
          display: inline-block;
          left: 0;
          height: 2px;
          position: absolute;
        }

      .chapterListItem .unavailable {
        background-color: #2c3e50; /* Midnight Blue */
      }
