* {
  box-sizing: border-box;
  font-size: 14px;
}

*:focus {
  outline: none;
}

#header {
  background-color: #16a085; /* Green Sea */
  color: #ecf0f1; /* Clouds */
  font-weight: bold;
  text-align: center;
}

  #header .back {
    cursor: pointer;
    left: 0;
    font-size: 24px;
    padding: 9px 16px 7px 6px;
    position: absolute;
    top: 0;
  }

    #header .back:hover {
      color: #bdc3c7; /* Silver */
    }

  #header .title {
    display: block;
    font-size: 20px;
  }

#container {
  color: #2c3e50; /* Midnight Blue */
}

.menu {
  background-color: #ecf0f1; /* Clouds */
  border-right: 1px solid #bdc3c7; /* Silver */
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 0;
}

  @media (min-width: 600px) { /* Tablet */
    .menu {
      right: calc(100% - 192px);
    }
  }

  .menu::-webkit-scrollbar {
    display: none;
  }

  .menuSelect {
  }

    .menuSelectLink {
    }

      .menuSelectLinkGenre {
        border-bottom: 1px solid #bdc3c7; /* Silver */
        cursor: pointer;
        padding: 8px;
        position: relative;
      }

        .menuSelectLinkGenre:hover {
          background-color: #bdc3c7; /* Silver */
        }

        .menuSelectLinkGenre .numberOfGenreFilters {
          background-color: #8e44ad; /* Wisteria */
          border-radius: 16px;
          color: #ecf0f1; /* Clouds */
          font-family: monospace;
          font-size: 10px;
          height: 20px;
          line-height: 20px;
          position: absolute;
          right: 20px;
          text-align: center;
          top: 50%;
          transform: translate(0, -50%);
          width: 24px;
        }

        .menuSelectLinkGenre .text {
          display: block;
        }

        .menuSelectLinkGenre .subtext {
          display: block;
          font-size: 10px;
          overflow: hidden;
          padding-right: 40px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .menuSelectLinkGenre i {
          font-size: 20px;
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translate(0, -50%);
        }

      .menuSelectLinkOrder {
        border-bottom: 1px solid #bdc3c7; /* Silver */
        cursor: pointer;
        padding: 8px;
        position: relative;
      }

        .menuSelectLinkOrder:hover {
          background-color: #bdc3c7; /* Silver */
        }

        .menuSelectLinkOrder .direction {
          background-color: #8e44ad; /* Wisteria */
          border-radius: 16px;
          color: #ecf0f1; /* Clouds */
          font-family: monospace;
          font-size: 10px;
          height: 20px;
          line-height: 20px;
          position: absolute;
          right: 20px;
          text-align: center;
          top: 50%;
          transform: translate(0, -50%);
          width: 24px;
        }

        .menuSelectLinkOrder i {
          font-size: 20px;
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translate(0, -50%);
        }

    .menuSelectSearch {
      position: relative;
    }

      .menuSelectSearch i {
        margin-top: -1px;
        right: 6px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
      }

      .menuSelectSearch input {
        border: none;
        border-bottom: 1px solid #bdc3c7; /* Silver */
        padding: 8px 28px 8px 8px;
        width: 100%;
      }

  .menuView {
  }

    .menuViewGenre {
    }

      .menuViewGenreItem {
        border-bottom: 1px solid #bdc3c7; /* Silver */
        cursor: pointer;
        padding: 8px;
        position: relative;
      }

        .menuViewGenreItem:hover {
          background-color: #bdc3c7; /* Silver */
        }

        .menuViewGenreItem i {
          font-size: 20px;
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translate(0, -50%);
        }

        .menuViewGenreItem .fa-check-circle {
          color: #27ae60; /* Nephritis */
        }

        .menuViewGenreItem .fa-times-circle {
          color: #c0392b; /* Pomegranate */
        }

      .menuViewOrder {
      }

        .menuViewOrderItem {
          border-bottom: 1px solid #bdc3c7; /* Silver */
          cursor: pointer;
          padding: 8px;
          position: relative;
        }

          .menuViewOrderItem:hover {
            background-color: #bdc3c7; /* Silver */
          }

          .menuViewOrderItem i {
            font-size: 20px;
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translate(0, -50%);
          }

  .menuSeries {
  }

    .menuSeries .header {
      border-bottom: 1px solid #bdc3c7; /* Silver */
      padding: 8px;
      position: relative;
      text-align: center;
    }

      .menuSeries .header .text {
        display: block;
        font-weight: bold;
      }

      .menuSeries .header .subtext {
        display: block;
        font-size: 12px;
        font-style: italic;
      }

      @media (min-width: 600px) { /* Tablet */
        .menuSeries .header .subtext {
          display: none;
        }
      }

      .menuSeries .numberOfSeries {
        background-color: #2980b9; /* Belize Hole */
        border-radius: 16px;
        color: #ecf0f1;
        font-family: monospace;
        font-size: 10px;
        height: 20px;
        line-height: 20px;
        position: absolute;
        right: 20px;
        text-align: center;
        top: 50%;
        transform: translate(0, -50%);
        width: 24px;
      }

      @media (min-width: 600px) { /* Tablet */
        .menuSeries .numberOfSeries {
          display: none;
        }
      }

    .menuSeries .pending {
      font-size: 20px;
      padding: 8px;
      text-align: center;
    }

    .menuSeriesControl {
      border-bottom: 1px solid #bdc3c7; /* Silver */
      font-size: 24px;
    }

    @media (min-width: 600px) { /* Tablet */
      .menuSeriesControl {
        display: none;
      }
    }

      .menuSeriesControl i {
        border-right: 1px solid #bdc3c7; /* Silver */
        color: #16a085; /* Green Sea */
        cursor: pointer;
        display: inline-block;
        padding-top: 4px;
        text-align: center;
        width: 33.33%;
      }

        .menuSeriesControl i:hover {
          color: #1abc9c; /* Turqoise */
        }

        .menuSeriesControl i:last-of-type {
          border: none;
        }

      .menuSeriesControl .fa-refresh {
        margin-top: -1px;
      }

    .menuSeriesList {
    }

      .menuSeriesList .none {
        font-style: italic;
        padding: 8px;
        text-align: center;
      }

      .menuSeriesListItem {
        border-bottom: 1px solid #bdc3c7; /* Silver */
        cursor: pointer;
        padding: 4px 8px;
        position: relative;
      }

        .menuSeriesListItem:hover {
          background-color: #bdc3c7; /* Silver */
        }

        .menuSeriesListItem .title {
          display: block;
          overflow: hidden;
          padding-right: 8px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

          .menuSeriesListItem .numberOfUnreadChapters + .title {
            padding-right: 40px;
          }

        .menuSeriesListItem .provider {
          display: block;
          font-style: italic;
          font-size: 10px;
        }

        .menuSeriesListItem .numberOfUnreadChapters {
          background-color: #d35400; /* Pumpkin */
          border-radius: 16px;
          color: #ecf0f1; /* Clouds */
          font-family: monospace;
          font-size: 10px;
          height: 20px;
          line-height: 20px;
          position: absolute;
          right: 20px;
          text-align: center;
          top: 50%;
          transform: translate(0, -50%);
          width: 24px;
        }

        .menuSeriesListItem i {
          font-size: 20px;
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translate(0, -50%);
        }

.modal {
  bottom: 0;
  background-color: rgba(44, 62, 80, 0.75); /* Midnight Blue */
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

  .modalContainer {
    background-color: #ecf0f1; /* Clouds */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }

    .modalContainerTitle {
      background-color: #16a085; /* Green Sea */
      color: #ecf0f1; /* Clouds */
      padding: 8px;
      position: relative;
    }

      .modalContainerTitle i {
        cursor: pointer;
        font-size: 20px;
        padding: 6px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
      }

        .modalContainerTitle i:hover {
          color: #bdc3c7; /* Silver */
        }

    .modalContainerBody {
      color: #2c3e50; /* Midnight Blue */
      padding: 8px;
      width: 300px;
    }

      .modalContainerBody *:not(label) + * {
        margin-top: 8px;
      }

      .modalContainerBody label {
        font-size: 12px;
        font-style: italic;
      }

      .modalContainerBody input {
        border: 1px solid #bdc3c7; /* Silver */
        padding: 8px;
        width: 100%;
      }

      .modalContainerBody button {
        border: none;
        padding: 4px;
        width: 100%;
      }

        .modalContainerBody button[disabled] {
          color: #bdc3c7; /* Silver */
        }

        .modalContainerBody button:not([disabled]).primary {
          background-color: #16a085; /* Green Sea */
          color: #ecf0f1; /* Clouds */
        }

          .modalContainerBody button:not([disabled]).primary:hover {
            background-color: #1abc9c; /* Turqoise */
          }

      .modalContainerBody .checkbox {
        cursor: pointer;
      }

        .modalContainerBody .checkbox i {
          padding: 4px 0;
          width: 16px;
        }

      .modalContainerBody .pending {
        font-size: 20px;
        padding: 8px;
        text-align: center;
      }

.series {
  bottom: 0;
  display: none;
  left: 192px;
  position: absolute;
  right: 0;
  top: 0;
}

@media (min-width: 600px) { /* Tablet */
  .series {
    display: block;
  }
}

  .seriesControl {
    background-color: #ecf0f1; /* Clouds */
    border-bottom: 1px solid #bdc3c7; /* Silver */
    font-style: italic;
    padding: 8px;
  }

    .seriesControlStatus {
      position: relative;
    }

      .seriesControlStatus .numberOfSeries {
        background-color: #2980b9; /* Belize Hole */
        border-radius: 16px;
        color: #ecf0f1;
        font-family: monospace;
        font-size: 10px;
        height: 24px;
        line-height: 24px;
        position: absolute;
        right: -32px;
        text-align: center;
        top: 50%;
        transform: translate(0, -50%);
        width: 28px;
      }

    .seriesControlButtons {
      font-size: 24px;
      position: absolute;
      right: 0;
      top: 0;
    }

      .seriesControlButtons i {
        color: #16a085; /* Green Sea */
        cursor: pointer;
        padding: 6px 8px 2px 8px;
        vertical-align: middle;
      }

        .seriesControlButtons i:hover {
          color: #1abc9c; /* Turqoise */
        }

      .seriesControlButtons .fa-refresh {
        padding-bottom: 3px;
        margin-top: -1px;
      }

  .seriesList {
    bottom: 0;
    left: 0;
    padding: 4px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    right: 0;
    top: 33px;
  }

    .seriesList .none {
      font-size: 20px;
      font-style: italic;
      left: 50%;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .seriesList .pending {
      font-size: 32px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .seriesListItem {
      color: #ecf0f1; /* Clouds */
      cursor: pointer;
      display: inline-block;
      position: relative;
      width: 33.33%;
    }

    @media (min-width: 768px) { /* Large Tablet */
      .seriesListItem {
        width: 25%;
      }
    }

    @media (min-width: 992px) { /* Desktop */
      .seriesListItem {
        width: 20%;
      }
    }

    @media (min-width: 1200px) { /* Large Desktop */
      .seriesListItem {
        width: 16.66%;
      }
    }

    @media (min-width: 1600px) { /* Very Large Desktop */
      .seriesListItem {
        width: 12.5%;
      }
    }

      .seriesListItem .push {
        margin-top: calc(141% + 32px);
      }

      .seriesListItemBody {
        padding: 4px 4px 0 4px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

        .seriesListItemBody:hover .title {
          background-color: #1abc9c; /* Turqoise */
        }

        .seriesListItemBody:hover .seriesItemPreview {
          border-color: #1abc9c; /* Turqoise */
        }

        .seriesListItemBody:hover .provider {
          background-color: #1abc9c; /* Turqoise */
        }

        .seriesListItemBody .title {
          background-color: #16a085; /* Green Sea */
          display: block;
          overflow: hidden;
          padding: 8px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .seriesListItemBody .numberOfUnreadChapters {
          background-color: #d35400; /* Pumpkin */
          font-family: monospace;
          height: 32px;
          line-height: 32px;
          position: absolute;
          right: 4px;
          text-align: center;
          top: 4px;
          width: 32px;
        }

          .seriesListItemBody .numberOfUnreadChapters + .title {
            padding: 8px 40px 8px 8px;
          }

        .seriesListItemPreview {
          border: 1px solid #16a085; /* Green Sea */
          border-top: none;
          height: calc(100% - 32px);
          width: 100%;
        }

          .seriesListItemPreview img {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }

          .seriesListItemPreview .pending {
            color: #2c3e50; /* Midnight Blue */
            left: 50%;
            font-size: 20px;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
          }

        .seriesListItemBody .provider {
          background-color: #16a085; /* Green Sea */
          bottom: 0;
          display: block;
          font-style: italic;
          font-size: 10px;
          padding: 4px;
          position: absolute;
          right: 4px;
        }
