html, body {
  margin: 0;
  padding: 0;
}

#header {
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 0;
  width: 100%;
}

#container {
  bottom: 0;
  position: absolute;
  overflow: auto;
  top: 40px;
  width: 100%;
}
