@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@viewport { width: device-width; }

@media (max-width: 599px) {
  @-webkit-viewport { width: 320px; }
  @-moz-viewport { width: 320px; }
  @-ms-viewport { width: 320px; }
  @viewport { width: 320px; }
}

html {
  -ms-content-zooming: none;
  -ms-touch-action: none;
  overflow: hidden;
  touch-action: none;
}

body {
  -moz-text-size-adjust: none;
  -moz-user-select: none;
  -ms-text-size-adjust: none;
  -ms-user-select: none;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  text-size-adjust: none;
  user-select: none;
}

input:not([type=checkbox]), select, textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

select {
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select:focus::-ms-value {
  background-color: transparent;
  color: inherit;
}
